[maxscale]
threads=2

# Global parameters
[Galera Service]
type=service
router=readwritesplit
servers=db1, db2
user=maxscaleuser
password=maxscalepass
router_options=slave_selection_criteria=LEAST_CONNECTIONS

[Galera Listener]
type=listener
service=Galera Service
protocol=MariaDBClient
port=3306

[db1]
type=server
address=db1
port=3306
protocol=MariaDBBackend

[db2]
type=server
address=db2
port=3306
protocol=MariaDBBackend

[MaxAdmin Service]
type=service
router=cli

[MaxAdmin Listener]
type=listener
service=MaxAdmin Service
protocol=maxscaled
socket=default
